<template lang="jade">
  div(id='app')
    v-app
      v-content
        v-container
          router-view.page
</template>

<script>

export default {
  name: 'App'
}

</script>

<style lang="sass">
</style>
