<template lang="jade">
  div
    div.header
      div.header-text
        h1 THE WORLD IS OUR OFFICE
      submit-form.submit-form
    div.content
      div.content-header
        h2 WE WANDER
        img(src='../assets/fire.jpg')
      div.content-row
        div.content-row_aside
          p.uppercase We work as hard as we travel, and have fun as much as we work.
          p.uppercase Wander is about building great prodocts, brand, teams and great lives, together.
        div.content-row_separator
        div.content-row_main
          h3 Our story
          p At its core, Wander is all about living a truly fulfilling digital nomad lifestyle. We want our employees to have as much flexibility as possible, within reason. We believe that creativity comes from exploring and not from being stuck in a cubicle job. As long as the deadlines and requirements are met and they attend all our mandatory meetings, our employees can work from anywhere they choose in the world.
          p Wander’s vision is to build out a network of partnerships with our employees, our clients and other existing agencies. By doing so, we want to become one of the largest remote employers in the world. On the client side, the Wander team has worked with a vast range of clients in different industries--from wholesale automotive buying and selling dashboards to consumer mobile applications. We’ve worked with more first-time entrepreneurs than we can count, but we’ve also had a couple large corporate accounts as well.
          p Wander’s vision is to build out a network of partnerships with our employees, our clients and other existing agencies. By doing so, we want to become one of the largest remote employers in the world. On the client side, the Wander team has worked with a vast range of clients in different industries--from wholesale automotive buying and selling dashboards to consumer mobile applications. We’ve worked with more first-time entrepreneurs than we can count, but we’ve also had a couple large corporate accounts as well.
          p Wander’s vision is to build out a network of partnerships with our employees, our clients and other existing agencies. By doing so, we want to become one of the largest remote employers in the world. On the client side, the Wander team has worked with a vast range of clients in different industries--from wholesale automotive buying and selling dashboards to consumer mobile applications. We’ve worked with more first-time entrepreneurs than we can count, but we’ve also had a couple large corporate accounts as well.
</template>

<script>

import SubmitForm from '@/components/SubmitForm'

export default {
  name: 'HomePage',
  components: {
    SubmitForm
  },
  data () {
    return {
      msg: 'Home page'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass">
  .header
    min-height: 100vh;
    position: relative;
    max-height: 100vh;
    overflow: hidden;
    background-image: url('../assets/home_bg.jpg');
    background-color: #000000;
    background-repeat: no-repeat;
    background-size: auto;
    background-size: cover;
    background-position: center;
    &-text
      z-index: 1;
      display: flex;
      position: absolute;
      top: 50%
      left: 50%;
      transform: translate(-50%, -50%);
      h1
        font-weight: 600;
        color: #fff;
        text-align: center;
    img
      object-fit: cover;
      display: block;
      overflow: hidden!important;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;

    .submit-form
      z-index: 1;
      display: flex;
      position: absolute;
      top: 70%
      left: 50%;
      transform: translate(-50%, -50%);

  .content
    max-width: 87%;
    margin: auto;
    display: flex;
    flex-direction: column;
    &-header
      img
        width: 100%;
        display: block;
    &-row
      display: flex;
      flex-direction: row;

      &_aside
        flex: 4;
        padding-top: 3rem;
      &_separator
        flex: 1;
      &_main
        flex: 7;

    h2,h3
      color: $title-color;
      text-align: left;
    h2
      margin: 4.5rem 0 3.5rem 0.4rem;
    .uppercase
      text-transform: uppercase;
  @media only screen and (min-width: 768px)
    .header
      padding-bottom: 1rem;
      &-text
        transform: translate(-50%, -45%);
      .submit-form
        top: 65%;
        transform: translate(-50%, -22%);
    .content-row
      margin-top: 3rem;
      &_aside
        padding-top: 2rem;
        padding-left: 0.2rem;
        letter-spacing: 0.2px;
        &>*
          padding-top: 0.3rem;
          line-height: 1.5rem;
      &_main
        padding-left: 1rem;
        h3
          line-height: 3.5rem;
          margin-bottom: 2.8rem;
        p
          color: #1A1A1A;
          margin-bottom: 1.5rem;
          line-height: 1.5rem;
  @media only screen and (max-width: 768px)
    .content-row
      flex-direction: column;
    .content-row_separator
      display: none;
    .header
      .submit-form
        top: 80%;
  @media only screen and (max-width: 580px)
    .header
      h1
        font-size: 2.5rem;
</style>
