<template lang="jade">
    div
        div.address.container.row(itemprop="address" itemscope='asd' itemtype='https://schema.org/PostalAddress')
            div
                span phone
                a.phone(href="tel:+1 (323) 690-7705" itemprop='telephone') +1 (323) 690-7705
            div.big
            div
                span mail
                a.mail(href="mailto:hello@wanderagency.com" itemprop="email") hello@wanderagency.com

</template>

<script>

export default {
  name: 'MainFooter'
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="sass">
    .address
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: #fff;
        &.container
            width: 76%;
        & > *
            flex: 1;
            color: #7D7D7D;
        span
            color: #fff;
        .phone
            margin-left: 1.7rem;
        .mail
            margin-left: 3.4rem;
            letter-spacing: 0.3px;
        div:nth-last-child(1)
            text-align: right;
    @media only screen and (max-width: 1020px)
        .big
            display: none;
    @media only screen and (max-width: 679px)
        .address
            flex-direction: column;
            align-items: start;
            .phone
                margin-bottom: 2rem;
                margin-left: 1rem;
            .mail
                margin-left: 1rem;
    @media only screen and (max-width: 768px)
        .address
            .phone, .mail
                margin-left: 1rem;
</style>
