<template lang="jade">
    div
        form(@submit.prevent="checkForm()" action="#" method="post" novalidate="true")
            input(type='e-mail' placeholder='your email' name="email" v-model='email' v-validate="'required|email'")
            button(type='submit' v-bind:disabled="!email || errors.has('email')") join us
            p.help(v-show="errors.has('email')")
              span(v-for="error in errors") {{ errors.first('email') }}
</template>

<script>

export default {
  name: 'SubmitForm',
  data () {
    return {
      email: null
    }
  },
  props: {
  },
  methods: {
    checkForm () {
      alert('submited:' + this.email)
    }
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="sass">
  form
    text-align: center;

  button,
  input
    border-top: transparent !important;
    border-left: transparent !important;
    border-right: transparent !important;
    border-bottom: transparent !important;
    font-size: 1rem;
    color: #fff;
    background: transparent;
    padding: 0.3rem;
    text-align: center;
    box-sizing: border-box;
    opacity: 1
    border-radius: 0;
  input
    border-top: 0;
    border-left: 0;
    border-right: 0;
    margin-right: 1rem;
    min-width: 264px;
    padding-left: 13px;
    letter-spacing: 0.5px;
    border-bottom: 1.5px solid !important;
    border-color: $title-color !important;
    &::placeholder
      color: #fff;
      opacity: 1;
    &::-webkit-input-placeholder
      color: #fff;
      opacity: 1;
    &::-moz-placeholder
      color: #fff;
      opacity: 1;
    &:-moz-placeholder
      color: #fff;
      opacity: 1;
    &:-ms-input-placeholder
      color: #fff;
      opacity: 1;
    &:-ms-input-placeholder
      color: #fff;
      opacity: 1;
  button
    border: 1.5px solid !important;
    border-color: $title-color !important;
    min-width: 120px;
    border-radius: 2px;
    &[disabled]
      opacity: 0.5;
  .help
    position: absolute;
    color: red;

  @media only screen and (max-width: 768px)
    input
      margin: 0;
    button
      margin-top: 2rem;
</style>
