<template lang="jade">
    div
      router-link.back(to="/") BACK
      div.loading(v-if="loading") Loading...
      div.error(v-if="error") {{ error }}
      v-card(v-if="post")
        v-card-title
          div
            span.headline {{post.data.title}} <br>
        v-container(fill-height fluid)
          v-layout(fill-height)
            v-flex(xs6)
              span.grey--text {{post.data.date_news}}
            v-flex(xs6)
              span.right.grey--text {{post.data.type_news}}
        img(width="100%" v-bind:title="post.data.title" v-bind:src="post.data.preview_image.url")
        v-container(fill-height fluid)
          v-layout(fill-height)
            v-flex(xs12)
              div {{post.data.text}}
</template>

<script>
import axios from 'axios'

export default {
  name: 'ItemPage',
  data () {
    return {
      loading: false,
      post: null,
      error: null
    }
  },
  created () {
    // fetch the data when the view is created and the data is
    // already being observed
    this.fetchData()
  },
  watch: {
    // call again the method if the route changes
    '$route': 'fetchData'
  },
  methods: {
    fetchData () {
      this.error = this.post = null
      this.loading = true

      axios.get(`/static/data.json`)
        .then(response => {
          this.loading = false

          var postSlug = this.$route.params.item
          let posts = response.data.results
          let post = posts.filter(item => {
            if (item.slugs === postSlug) {
              return item
            }
          })
          if (post.length) {
            this.post = post[0]
          }
        })
        .catch(e => {
          this.loading = false
          this.error = true
        })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="sass">
  .back
    margin: 2rem 0;
    display: block;
</style>
