<template lang="jade">
  div
    h1 Latest news
    v-layout
      v-flex(xs12)
        v-container
          v-layout(fill-height)
            v-flex(xs5 md3)
              v-select(
                :items="sortList"
                v-model="switchSort"
                label="Sort by date"
                single-line)
            v-flex(xs2 md6)
            v-flex(xs5 md3 v-if="types")
              v-select(
                :items="types"
                v-model="typeValue"
                label="Filter by type"
                single-line)
        v-container(grid-list-sm fluid)
          div.loading(v-if="loading") Loading...
          div.error(v-if="error") {{ error }}
          v-layout(row wrap v-if="filteredByType")
            list-item(v-for="post in filteredByType" v-bind:key="post.id" v-bind:post="post" v-bind:visited="isVisited(post.slugs)")
</template>

<script>
import axios from 'axios'
import ListItem from '../components/ListItem'

export default {
  name: 'ListPage',
  components: { ListItem },
  data () {
    return {
      posts: null,
      loading: false,
      error: null,
      types: null,
      typeValue: null,
      filteredByType: null,
      switchSort: false,
      sortList: ['new first', 'old first']
    }
  },
  created () {
    // fetch the data when the view is created and the data is
    // already being observed
    this.fetchData()
  },
  watch: {
    // call again the method if the route changes
    '$route': 'fetchData',
    'posts': 'getTypes',
    'typeValue': 'filterByType',
    'switchSort': 'sortFiltered'
  },
  methods: {
    fetchData () {
      this.error = this.posts = null
      this.loading = true

      axios.get(`/static/data.json`)
        .then(response => {
          this.loading = false
          // JSON responses are automatically parsed.
          this.posts = response.data.results
        })
        .catch(e => {
          this.loading = false
          this.error = true
        })
    },
    isVisited (slugs) {
      let history = localStorage.getItem('viewHistory')

      if (history) {
        let viewHistory = JSON.parse(history).list
        if (viewHistory.includes(slugs)) {
          return 'visited'
        }
      }
    },
    getTypes (posts) {
      if (!posts) return

      this.types = ['Show All']

      posts.forEach(item => {
        if (!this.types.includes(item.data.type_news)) {
          this.types.push(item.data.type_news)
        }
      })
      this.filteredByType = posts
    },
    filterByType (typeValue) {
      if (typeValue === 'Show All') {
        this.filteredByType = this.posts
      } else {
        this.filteredByType = this.posts.filter(item => {
          if (item.data.type_news === typeValue) {
            return item
          }
        })
      }
    },
    sortFiltered (direction) {
      if (direction === 'new first') {
        this.filteredByType = this.filteredByType.sort(function (a, b) {
          return Date.parse(a.data.date_news) - Date.parse(b.data.date_news)
        })
      } else {
        this.filteredByType = this.filteredByType.sort(function (a, b) {
          return Date.parse(b.data.date_news) - Date.parse(a.data.date_news)
        })
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass">
  .content
    width: 100%;
    display: flex;
  h1
    text-align: center;
</style>
