<template lang="jade">
    v-flex(xs12 sm6 md4)
        div.content(v-bind:class="{ visited : visited }")
            v-card
                v-container.animate(v-show="!switchView")
                    v-layout(fill-height)
                        v-flex(xs6)
                            span.grey--text {{post.data.date_news}}
                        v-flex(xs6)
                            span.right.grey--text {{post.data.type_news}}
                v-card-media.image(v-bind:src="post.data.preview_image.url" v-bind:class="{ 'elevation-3' : switchView }" v-bind:height="getState('imgHeight')")
                    router-link(v-bind:to='post.slugs')
                    v-btn(color="pink"
                        @click="switchViewChange()"
                        dark
                        small
                        absolute
                        bottom
                        right
                        fab)
                        v-icon {{ getState('btn') }}
                v-card-title.animate(v-show="!switchView")
                    div
                        span.headline {{post.data.title}}
                v-container.animate.text(v-show="switchView")
                    div {{post.data.text}}
</template>

<script>

export default {
  name: 'ListItem',
  props: ['post', 'visited'],
  data () {
    return {
      state: {
        preview: {
          imgHeight: 100,
          btn: 'keyboard_arrow_down'
        },
        init: {
          imgHeight: 200,
          btn: 'keyboard_arrow_up'
        }
      },
      switchView: false
    }
  },
  methods: {
    getState (itemname) {
      if (this.switchView) {
        return this.state.preview[itemname]
      } else {
        return this.state.init[itemname]
      }
    },
    switchViewChange () {
      this.switchView = !this.switchView
    }
  }
}
</script>

<style scoped lang="sass">
    .animate
        transition: all 0.3s;
    a
        display: block;
        position: relative;
        height: 100%;
        text-decoration: none;
        &:hover
            text-decoration: none;
        &:hover .more
            display: block;
        .card
            min-height: 100%;
            position: relative;
            z-index: 1;
    .right
        text-align: right;
    .card
        width: 100%;
        .image.card__media
            overflow: visible;
        .card__media__content
            a
                position: absolute;
                display: block;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
    .text
        height: 250px;
        overflow-y: scroll;
    .content
        height: 100%;
    .visited
        opacity: 0.5;
</style>
